name: Terraform_Pipeline
on: workflow_dispatch
jobs:
    demo:
        runs-on: ubuntu:22.04
        steps:
          - name: checkout
            uses: actions/checkout@v4
          - name: Setup Terraform
            uses: hashicorp/setup-terraform@v1
            with:
                cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
          - name: Initialize Terraform
            run: terraform init
          - name: Format Terraform
            run: terraform fmt
            continue-on-error: false
          - name: Apply Terraform
            run: terraform apply -auto-approve -input=false